<mat-grid-list cols="4" rowHeight="2:1.21">
  <mat-grid-tile rowspan="3" colspan="3">
    <div class="card text-dark bg-light" style="width: 100%; height: 100%">
      <div class="card-header">Header</div>
      <div class="card-body">
        <input type="text" width="100%" height="100%" class="form-control" [(ngModel)]="texto" name="texto" id="texto" required minlength="4" #texto="ngModel">
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
